.input-field label{color:#999;}
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label{color:#000;}
.input-field input[type=text]:focus ,.input-field input[type=password]:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}
.input-field input[type=text].valid,.input-field input[type=password].valid{border-bottom:1px solid #2196F3;box-shadow:0 1px 0 0 #2196F3;}
.input-field input[type=text].invalid,.input-field input[type=password].invalid{border-bottom:1px solid #F44336;box-shadow:0 1px 0 0 #F44336;}
.input-field .prefix.active{color:#000;}
/* Input : switch */
.switch{margin-top:7px;}
.switch label .lever{margin:0 7px;}
.switch label input[type="checkbox"]:checked + .lever{background-color:#ADD0EB;}
.switch label input[type="checkbox"]:checked + .lever::after{background-color: #4FB0FD ;}
/*.login-body{background-image:url(http://i.imgur.com/aBayW5C.png);background-size:cover;background-position: center;background-attachment:fixed;}*/
.input-cart{
    min-height:400px;
    border-top:3px solid rgb(3.49884%,12.199402%,31.799316%);
    margin-bottom:100px;
}
.login{margin-top:3rem;border-right:1px solid #ddd;}
.policy{visibility: hidden;}
.signupForm{display: none;}
.signup-toggle{cursor:pointer;margin-top:140px;}
.login h4, .signup h4{font-weight:200;}
.legal{border-top:1px solid #ddd;}
.email label{margin-left:11px;}
.policy{font-size:13px;}
.main-title{font-family:'Roboto' !important;}
body{
    font-family: 'Roboto' !important;
    color: #071e4f !important;
}
.darkBlueBg{
    background-color: #071e4f !important;
}
.darkBlueFont{
    color: #071e4f !important;
}
.blueFont{
    color: rgb(3.49884%,12.199402%,31.799316%) !important;
}

.footerHr{
    border-color: rgb(3.49884%,12.199402%,31.799316%) !important;
}
.rightEl{
    float: right !important;
}

.listEl{
    padding-bottom: 0.5rem !important;
    /*margin-left: 2rem;*/
}
.inputEl:focus {
    border-bottom: 0.1rem solid rgb(3.49884%,12.199402%,31.799316%) !important;
    box-shadow: 0 0.1rem 0 0 rgb(3.49884%,12.199402%,31.799316%) !important;
}

.lfImgAndText{
    display:flex;
}

.lfImgAndText--text{
    font-size: medium;
    margin-left: 1.5rem;
    color:black !important;
}

.headerContainer{
    background-color: rgb(3.49884%,12.199402%,31.799316%) !important;
    height: 160px;
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:5rem 2rem 2rem 2rem;
}

.hrFtr{
    margin-top:0px !important;
    margin-bottom: 0px !important;
}

.btmText{
    font-size: 14px;
    margin-left:0.5rem;
    margin-right: 0.5rem;
    color:#473B6C;
}
.mContainer{
    display: flex !important;
    flex-direction: column !important;
    /*align-items: center !important;*/
}

.rContainer{
    width: 82% !important;
}
.row .col.m10{
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
    /*!*left: 17.3% !important;*!*/
    /*width: 65% !important;*/
    /*left:auto !important;*/
}

.login{
    border-right: none;
    width:52% !important;
}

.signup{
    width:100% !important;
    margin-left: 3rem !important;

    margin-top:3rem;
    margin-bottom: 3rem;
}

.rightBlockFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    height: 35rem;
}

@media only screen and (max-width: 1000px) {
    .row{
        width: 100% !important;
    }
    .rightBlockFlex{
        width: 100% !important;
        height: 20rem !important;
        justify-content: flex-start;
    }
    .signup{
        margin-left: 0px !important;
    }

    .rightFooter{
        width: 100% !important;
    }

    .login{
        width: 100% !important;
        border-right: none;
    }
    .row .col.m10{
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
    }
}

@media only screen and (max-width: 1500px) {
    .rContainer{
        width: 100% !important;
    }
}

@media only screen and (max-width: 1250px) {
    .rContainer{
        width: 100% !important;
    }

    .row{
        width: 100% !important;
    }

    .row .col.m10{
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
    }
}

.errMsg {
    margin-bottom:0.2rem;
    padding-left: 0.2rem;
    color: red !important;
    font-size: 12px;
}

h6.darkBlueFont{
    font-size: 18px !important;
}

h5.darkBlueFont{
    font-size: 20px !important;
}

.headerLogo{
    padding-top: 3rem !important;
    padding-left: 4rem;
}

.uAegLogo{
    width:218px;
}

.rightFooter{
    margin-top: auto;
    margin-bottom: auto;
    width:43%;
}

.result{
    width: 100% !important;
    margin-left:auto !important;
}

.resContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bulletPointEl{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.identEl{
    margin-left: 3rem;
}

.lightBlueFont{
    color: #1155cc;
}

.noBtmMrgn{
    margin-bottom: 0px;
}

.mrgnTp{
    margin-top: 0.4rem;
}

.mrgnTpMid{
    margin-top: 0.9rem;
}

.multiField{
    display : flex;
    justify-content: space-between;
}

.halfField{
    width: 48%;
    /*height: 50px !important;*/
}

.thirdField{
    width: 31%;
}

.sectionHeader{
    margin-bottom: 0.6rem;
    font-weight: bold;
}

.inputEl {
    margin: 0 0 0 0 !important;
}